<% if (objType === 'obj') { %>
   <%= subClassName %> <%= attrName %>;
<%} else if (objType === 'array') {%>
   List<<%= subClassName %>> <%= attrName %>;
<%} else {%>
   <%= attrType %> <%= attrName %>;
<%}%>
