//
//  <%= fileName %>
//  <%= project %>
//
//  Created by <%= organization %> on <%= createtime %>. All rights reserved.
//


@import UIKit;

@interface <%= className %> : <%=superClassName%>

- (void)updateViewByDataModel:(<%= modelName %> *)model;

@end
