// showing default values
$accentColor = #ff3b30
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
blockquote {
  font-size: 15px !important;
  color: #858585 !important;
  border-left: 0.25rem solid #ff3b30 !important;
  font-weight: 1000 !important;
}

.custom-block
  &.tip
    border-color   #ff3b30 !important
