<% if (objType === 'obj') { %>
@property(nonatomic, strong) <%= subClassName %> *<%= _.lowerFirst(attrName) %>;
<%} else if (objType === 'array') {%>
@property(nonatomic, copy) NSArray<<%= subClassName %> *> *<%= _.lowerFirst(attrName) %>;
<%} else  if (objType === 'string') {%>
@property(nonatomic, copy) <%= attrType %> *<%= _.lowerFirst(attrName) %>;
<%} else {%>
@property(nonatomic, assign) <%= attrType %> <%= _.lowerFirst(attrName) %>;
<%}%>
